{% extends 'base.html' %}
{% block title %}Perfil{% endblock %}
{% block content %}


<div class="table-container">
    <h1>Bem-vindo!</h1>
    <br>
    <h2>Últimos 10 Produtos e Quantidade de Estoque</h2>
<table>
    <tr class='titab'>
        <th>Produto</th>
        <th>Preço</th>
        <th>Quantidade em Estoque</th>
    </tr>
    <br>
    {% for produto in produtos %}
    <tr>
        <td>{{ produto.nome }}</td>
        <td>R$ {{ produto.valor }}</td>
        <td>{{ produto.quantidade|default:"0" }} unidades</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}